**/target/**
*.class
*.jar
*.pyc
data
virtualenv
.idea*
derby.log
metastore_db
*.html
*.js
spark-log-import/lib/
__pycache__
**/.ensime*
*.swp
*.DS_Store
*.settings
*.classpath
*.project
*.cache-main
.#*
